<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<h1>Patients Index</h1>
<ul>
<% @patients.each do |patient| %>
    <li>Name: <%= link_to patient.name, patient %> Number of Appointments: <%= patient.appointments.count %></li>
<% end %>
</ul>