<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<h1>Doctors Index</h1>
<% @doctors.each do |d| %>
 <h3> Doctor <a href="/doctors/<%d.id%>"><%=d.name%></a> Patient Count: <%=d.patients.size%></h3>
<%end%>