<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<h1>Doctors Show</h1>
<p>Doctor: <%= @doctor.name %></p>
<p>Departent: <%= @doctor.department %></p>
<p>Appointments: </p>
<ul>
<% @doctor.appointments.each do |appointment| %>
    <li><%= link_to appointment.patient.name, appointment.patient %> <%= appointment.appointment_datetime.strftime("%B %-d, %Y at %k:%M") %></li>
<% end %>
</ul>
