<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<h1>Appointment Show</h1>

<p>Appointment: <%= @appointment.appointment_datetime.strftime("%B %-d, %Y at %k:%M") %></p>
<p>Patient: <%= link_to @appointment.patient.name, @appointment.patient %></p>
<p>Doctor: <%= link_to @appointment.doctor.name, @appointment.doctor %></p>